body {
  background-color: #CFECFF;
}

#resume_body {
  background-color: #FFFFFF;
  font-family: 'Times New Roman';
  font-size: 15px;
  border: 1px solid;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}


#header {
  text-align: center;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

.section {
  max-width: inherit;
  margin-left: 10px;
  margin-right: 10px;

}

.section_title {
  background-color: #D5DBDB;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.two_columns {
  width: inherit;
  margin-top: -15px;
}

.two_columns_bold {
  font-weight: bold;
  width: inherit;
  margin-top: -15px;

}

.left {
  width: 50%;
  float: left;
}

.right {
  width: 50%;
  float: right;
  text-align: right;
}

.clear{
  display: table;
  clear: both;
}

.body_list {
  margin-top: 0px;
  margin-bottom: 5px;
}
